.sidenav-container {
  height: calc(100% - 64px);
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-caption {
  padding-left: 8px;
}

.nav-icon {
  color: #2f4f4f;
}

.nav-sub-item {
  padding-left: 40px !important;
}
