gridster {
  background: #fafafa;
  flex: 1 1 auto;
}

.content {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.header {
  background-color: rgb(250, 250, 250);
  padding: 10px;
  flex: 0 0 auto;
  text-align: right;
}
