<div class="content">
    <header class="header">
        <button mat-stroked-button (click)="toggleLocked()" *ngIf="!locked">
            <mat-icon>lock_open</mat-icon>
            Unlocked
        </button>
        <button mat-stroked-button (click)="toggleLocked()" *ngIf="locked">
            <mat-icon>lock</mat-icon>
            Locked
        </button>
    </header>
    <gridster [options]="options">
        <gridster-item [item]="dashboard[0]">
            <div class="dashboard-item-header">Weather</div>
            <div class="dashboard-item-content">
                <app-weather-current></app-weather-current>
            </div>
        </gridster-item>
        <gridster-item [item]="dashboard[1]">
            <div class="dashboard-item-header">Laundry</div>
            <div class="dashboard-item-content">
                <app-laundry></app-laundry>
            </div>
        </gridster-item>
        <gridster-item [item]="dashboard[2]">
            <div class="dashboard-item-header">Pressure Trend</div>
            <div class="dashboard-item-content">
                <app-pressure-trend></app-pressure-trend>
            </div>
        </gridster-item>
    </gridster>
</div>
