.main {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.header {
  background-color: rgb(250, 250, 250);
  padding: 10px;
  flex: 0 0 auto;
  text-align: right;
}

.content {
  background: #fafafa;
  flex: 1 1 auto;
}

.dashboard-item {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dashboard-item-header {
  color: white;
  background-color: #673ab7;
  padding: 10px;
  flex: 0 0 auto;
}

.dashboard-item-content {
  border: 1px solid lightgray;
  flex: 1 1 auto;
}
