html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content-spinner {
  position: absolute !important;
  top: 150px;
  left: calc(50% - 50px);
}

@font-face {
  font-family: moon;
  src: url(assets/moon_phases.ttf) format("opentype");
}
