<mat-spinner *ngIf="loading" class="content-spinner" strokeWidth="5"></mat-spinner>

<div class="content">
    <header class="header">
        <button id="refresh" mat-button (click)="load()" [disabled]="loading">
            <mat-icon>refresh</mat-icon>
        </button>

        <app-time-range [loading]="loading" [(timeSpan)]="timeSpan" [(date)]="date"></app-time-range>
    </header>

    <div class="body">
        <div *ngIf="loading">
            Loading...
        </div>

        <div *ngIf="!loading && weatherAggregates === null">
            No Data
        </div>

        <div *ngIf="!loading && weatherAggregates !== null">
            <table>
                <tr>
                    <th>

                    </th>
                    <th>
                        Minimum
                    </th>
                    <th>
                        Average
                    </th>
                    <th>
                        Maximum
                    </th>
                </tr>
                <tr>
                    <td class="weather-summary-header">
                        Temperature
                    </td>
                    <td>
                        {{ weatherAggregates!.temperature.min.toFixed(2) }}°F
                    </td>
                    <td>
                        {{ weatherAggregates!.temperature.average.toFixed(2) }}°F
                    </td>
                    <td>
                        {{ weatherAggregates!.temperature.max.toFixed(2) }}°F
                    </td>
                </tr>
                <tr>
                    <td class="weather-summary-header">
                        Humidity
                    </td>
                    <td>
                        {{ weatherAggregates!.humidity.min.toFixed(2) }}%
                    </td>
                    <td>
                        {{ weatherAggregates!.humidity.average.toFixed(2) }}%
                    </td>
                    <td>
                        {{ weatherAggregates!.humidity.max.toFixed(2) }}%
                    </td>
                </tr>
                <tr>
                    <td class="weather-summary-header">
                        Pressure
                    </td>
                    <td>
                        {{ (weatherAggregates!.pressure.min / 33.864 / 100).toFixed(2) }}"
                    </td>
                    <td>
                        {{ (weatherAggregates!.pressure.average / 33.864 / 100).toFixed(2) }}"
                    </td>
                    <td>
                        {{ (weatherAggregates!.pressure.max / 33.864 / 100).toFixed(2) }}"
                    </td>
                </tr>
                <tr>
                    <td class="weather-summary-header">
                        Light
                    </td>
                    <td>
                        {{ weatherAggregates!.light.min.toFixed(2) }} lx
                    </td>
                    <td>
                        {{ weatherAggregates!.light.average.toFixed(2) }} lx
                    </td>
                    <td>
                        {{ weatherAggregates!.light.max.toFixed(2) }} lx
                    </td>
                </tr>
                <tr>
                    <td class="weather-summary-header">
                        Wind Speed
                    </td>
                    <td>
                        {{ weatherAggregates!.windSpeed.min.toFixed(2) }} mph
                    </td>
                    <td>
                        {{ weatherAggregates!.windSpeed.average.toFixed(2) }} mph
                    </td>
                    <td>
                        {{ weatherAggregates!.windSpeed.max.toFixed(2) }} mph
                    </td>
                </tr>
                <tr>
                    <td class="weather-summary-header">
                        Wind Direction
                    </td>
                    <td>
                    </td>
                    <td>
                        {{ weatherAggregates!.windDirectionAverage }}
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td class="weather-summary-header">
                        Rain
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        {{ weatherAggregates!.rainTotal.toFixed(2) }}"
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
