<div class="weather-current">
    <div *ngIf="latestReading === null">
        Loading...
    </div>

    <div *ngIf="latestReading !== null">
        <table>
            <tr>
                <td class="weather-current-header">
                    Temperature
                </td>
                <td>
                    {{ latestReading.Temperature.toFixed(2) }}°F
                </td>
            </tr>
            <tr *ngIf="latestReading.HeatIndex">
                <td class="weather-current-header">
                    Heat index
                </td>
                <td>
                    {{ latestReading.HeatIndex.toFixed(2) }}°F
                </td>
            </tr>
            <tr *ngIf="latestReading.WindChill">
                <td class="weather-current-header">
                    Wind chill
                </td>
                <td>
                    {{ latestReading.WindChill.toFixed(2) }}°F
                </td>
            </tr>
            <tr>
                <td class="weather-current-header">
                    Humidity
                </td>
                <td>
                    {{ latestReading.Humidity.toFixed(2) }}%
                </td>
            </tr>
            <tr>
                <td class="weather-current-header">
                    Dew point
                </td>
                <td>
                    {{ latestReading.DewPoint.toFixed(2) }}°F
                </td>
            </tr>
            <tr>
                <td class="weather-current-header">
                    Pressure
                </td>
                <td>
                    {{ (latestReading.Pressure / 33.864 / 100).toFixed(2) }}"

                    <span class="pressure-trend-arrow" [ngClass]="rotationClass()" title="3 Hour Change: {{ latestReading.PressureDifferenceThreeHour.toFixed(1) }}">➜</span>
                </td>
            </tr>
            <tr>
                <td class="weather-current-header">
                    Wind
                </td>
                <td>
                    {{ latestReading.WindSpeed.toFixed(2) }} {{ latestReading.WindDirection }}
                </td>
            </tr>
            <tr>
                <td class="weather-current-header">
                    Rain
                </td>
                <td>
                    {{ latestReading.RainLastHour.toFixed(2) }}" (last hour)
                </td>
            </tr>
            <tr>
                <td class="weather-current-header">
                    Light
                </td>
                <td>
                    {{ latestReading.LightLevel.toFixed(2) }} lx
                </td>
            </tr>
        </table>
    </div>
</div>
