.laundry-current {
  font-size: 14px;
}

.laundry-current-header {
  font-weight: 500;
  text-align: right;
  padding-right: 10px;
}

.true {
  color: darkgoldenrod;
}

.false {
  color: darkgreen;
}
