.chart-content {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#chart {
  flex: 1 1 auto;
}

.chart-header {
  background-color: rgb(250, 250, 250);
  padding: 0 20px;
  flex: 0 0 auto;
}

.chart-button-spacer {
  margin-right: 20px;
}

.selected:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid #673ab7;
}
